#labelText{
	text-align: center;
}

p.editable{
	margin-top: -20px;
	margin-left: 130px;
}


label.error{
	display:block; 
	margin:10px 0px;
	color:red;
}

#background{
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
}

#formHeading{
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
}

#addItem3{
	margin-top: -3px;
	margin-bottom: 4px;
}

.logo{
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
	padding-top:4px;
	padding-bottom:4px;
}

#coming .ui-grid-d .ui-bar{
	padding-right:40px;
}

#errorLink{display:none;}

#messageBlock{
	display:none;
	}
	
h3{
	color: #FF6633;
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
	}
h1{
	color: #FF6633;
}

h4{
    color: #FF6633;
}
#map_canvas.html{height: 100%}
#map_canvas.body{height: 100%;
 	margin: 0; 
 	padding: 0
 }
 #map_canvas{height: 100%}

