/************Demo page*/
#demo.body, #demo.html{
	width: 100%;
	margin: 0px;
	padding: 0px;
}


#demoBackgroundContent{
	position=fixed;	
}


.button{
	text-align: center;
	float:left;
	background-color: #111;
	height: 70px;
	width: 33.333333333%;
}

.smallButton{
	text-align: center;
	float:right;
	background-color: #111;
	height: 50px;
	width: 45%;
    margin-right: 10px;
    padding-top: 20px;
    border: 2px solid;
    border-color: #333;
}

.innerDiv{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid;
    border-color: #333;
}

.icon{
    float: left;
}

.buttonLink{
    width: 40%;
}
.iosText{
    color: white;
}
.androidText{
    color: #9D0;
}
/*************CRUD app*/

#labelText{
	text-align: center;
}

p.editable{
	margin-top: -20px;
	margin-left: 130px;
}

.header{
    background-color: black;
}

label.error{
	display:block; 
	margin:10px 0px;
	color:red;
}

.background{
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
}

#formHeading{
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
}

#addItem3{
	margin-top: -3px;
	margin-bottom: 4px;
}

.logo{
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
	padding-top:4px;
	padding-bottom:4px;
}

#coming .ui-grid-d .ui-bar{
	padding-right:40px;
}

#errorLink{display:none;}

#messageBlock{
	display:none;
	}
	
h3{
	color: #FF6633;
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
	}
h1{
	color: #FF6633;
}

h4{
    color: #FF6633;
}
html{height: 100%}

body{height: 100%;
 	margin: 0px; 
 	padding: 0px;
    background-color: black;
}
 
#map_canvas{
height: 95%;
width: 90%;
z-index: 2;
}