{"env":{"staging":{"db":"http:\/\/user:password@127.0.0.1:5984\/staging"},"default":{"db":"http:\/\/127.0.0.1:5984\/cliqposts"},"production":{"db":"http:\/\/user:password@127.0.0.1:5984\/production"}}}