h4{
    color: #FF6633;
}

/************Demo page*/
#demo body, #demo.html{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

a{
    text-decoration: none;
}
 
 
.green{
    text-decoration: none;
    padding-top: 10px;
    height: 35px;
    text-align: center;
    display: block;
    color: #606060;
    border: solid 1px #ccc;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8cc41), to(#a3c543));
    background: -moz-linear-gradient(top,  #a8cc41,  #a3c543);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8cc41', endColorstr='#a3c543');
}

.left{
    float: left;
}

.pLarge{
    font-size: 15px;
    margin-top: 30px;
    clear: both;
}
.white{
    text-decoration: none;
    padding-top: 10px;
    height: 35px;
    text-align: center;
    display: block;
    color: #a3c543;
    border: solid 1px #b7b7b7;
    background: #9fb857;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

#demoBackgroundContent{
    text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
	position=fixed;	
}

.buttonLinks{
	width: 40%;
    float: right;
    margin-right: 4%;

    
    
}

.blue{
	color: #39E !important;
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
}

.button{

	text-align: center;
	float:left;
	height: 70px;
	width: 33%;
}

.innerDiv{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.icon{
    float: left;
}

.footer{
    margin-left: 2px;
    width: 100%;    
}

.footer span:first-child{
    border-top-left-radius: 10px 5px;
}

.iosText{
    color: grey;
}
.androidText{
    color: #a3c543;
}
/*************CRUD app*/

#labelText{
	text-align: center;
}

p.editable{
	margin-top: -20px;
	margin-left: 130px;
}

.header{
    background-color: black;
}

label.error{
	display:block; 
	margin:10px 0px;
	color:red;
}

.background{
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
}

#formHeading{
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
}

#addItem3{
	margin-top: -3px;
	margin-bottom: 4px;
}

.logo{
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
	padding-top:4px;
	padding-bottom:4px;
}

#coming .ui-grid-d .ui-bar{
	padding-right:40px;
}

#errorLink{display:none;}

#messageBlock{
	display:none;
	}
	
h3{
	color: #FF6633;
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
	}
h1{
	color: #FF6633;
    padding: 0px auto;
    margin: 0px auto;
}

html{height: 100%}

body{height: 100%;
 	margin: 0px; 
 	padding: 0px;
    background-color: black;
}
 
#map_canvas{
    height: 90%;
    width: 90%;≥
}